html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,121,9,1) 0%, rgba(48,127,24,1) 17%, rgba(20,176,157,1) 65%, rgba(20,176,157,1) 66%, rgba(0,212,255,1) 89%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper{
  padding: 0 10px;
}

.contenedor{
  max-width: 1366px;
  margin: 0 auto;
}


/*Pagina layouts*/
.cuerpo-pagina{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cuerpo-pagina main{
  flex: 1;
}